/*
    Colors:
    Light-Blue: #4dd0e1
    Dark-Blue: #1e88e5
    Purple: #3f51b5

    Content-Gray: #bdbdbd
    Light-Gray: #f5f5f5
    Dark-Gray: #424242
*/
.content{
    background-color: #f5f5f5;
    padding: 0px;
    min-height: 81vh;
}
.fac-headline{
    color: #1e88e5;
}

.header, .footer{
    background-color: #424242;
}
a.header-dark, a.footer-dark{
    color: white;
}
a.header-dark:hover, a.footer-dark:hover, a.header-dark:focus, a.footer-dark:focus {
    color: #4dd0e1;
}

/* Use white navbar-toggler (navbar-dark is broken) */
.custom-toggler.navbar-toggler {
    border-color: white;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.rounded-content{
    border-radius: 0.5rem;
    /* background-color: #bdbdbd; */
    background-color: rgba(189, 189, 189, 0.5);
    padding: 1rem;
}
.grid-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    display: grid;
    grid-gap: 1vw;
}
.grid-item {
    padding: 0.2rem;
}
.profile-image {
    max-width: 300px;
    width: 50%;
}
@media (max-width: 768px) {
    .profile-image {
        max-width: 300px;
        width: 60%;
    }
}
.table{
    margin-bottom: 0;
}
.table-item {
    background-color: #f5f5f5;
}

/* Landing Page */
.landing-head-block{
    width: 100%;
    margin: auto;
    padding: 3%;
    /* background: linear-gradient(#1e88e5, #4dd0e1); */
    background: linear-gradient(rgba(30, 136, 229, 0.9), rgba(77, 208, 225, 0.9));
}
.landing-headline{
    color: white;
    letter-spacing: 0.2em;
    font-size: 3em;
}
.landing-quote{
    color: white;
    font-size: 1.5em;
}
.landing-text-block{
    color: #424242;
    font-size: 2em;
    text-align: justify;
}
.landing-logo{
    min-width: 12.5em;
    width: 20vw;
}
.background-photo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.8)), url("/public/images/Factory-Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* min-height:100vh */
}
.landing-text-block-white{
    color: white;
    font-size: 2em;
    text-align: justify;
}
.landing-head-block-inverted{
    margin: auto;
    padding: 5%;
    /* background: linear-gradient(#4dd0e1, #1e88e5); */
    background: linear-gradient(rgba(77, 208, 225, 0.9), rgba(30, 136, 229, 0.9));
}
.landing-head-block-purple{
    margin: auto;
    padding: 5%;
    /* background: linear-gradient(#1e88e5, #3f51b5); */
    background: linear-gradient(rgba(30, 136, 229, 0.9), rgba(63, 81, 181, 0.9));
}
.form-container{
    background-color: #fafafa;
    border-radius: 15px;
    margin: auto;
}
.form-field{
    line-height: 2em;
}
.fac-btn-dark-blue{
    background-color: #1e88e5;
    min-width: 7.5em;
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
    border: #1e88e5;
}
.fac-btn-purple{
    background-color: #3f51b5;
    min-width: 7.5em;
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
    border: #3f51b5;
}
.text-dark-gray{
    color: #424242;
}
.departments-container{
    padding: 3%;
}
.search-container{
    background: linear-gradient(to right, #4dd0e1, #3f51b5);
    border-radius: 15px;
}
.fac-icon{
    fill: #1e88e5;
    height: 1.5em;
}
.fac-image{
    height: 2.25em;
}
.fac-list-item{
    text-align: center;
    margin: auto;
    line-height: 3em;
}
.fac-employee-select{
    width: 16em;
}
.fac-employee-search{
    width: 20em;
}
/* TICKETDETAILS */
.rounded-details{
    border-radius: 0.5rem;
    background-color: white;
    padding: 1rem;
}
.rounded-support-reply{
    border-radius: 0.5rem;
    background-color: #1e88e5;
    max-width: 65%;
    color: white;
    padding: 1rem;
}
.rounded-employee-reply{
    border-radius: 0.5rem;
    background-color: white;
    max-width: 65%;
    padding: 1rem;
}
.fac-btn-red{
    background-color: #e53935;
    min-width: 7.5em;
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
    border: #e53935;
}