<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="Test"></title>
  <!--<link rel="icon" type="image/png" href="../static/TK_Logo_192.png">-->
</head>
<body>
<h1 th:text="Test"></h1>
<form action="/" method="post">
  <label for="mail">Username</label>
  <input type="text" id="mail" name="mail">
  <br>
  <label for="password">PW</label>
  <input type="text" id="password" name="password">
  <input id="submitter" type="submit" value="Submit">
</form>
</body>
</html>